<footer class="footer">
	<div class="div_footer">
		<div class="div_foot">
			<p style="margin-top: 12px;">
				Desarrollado con <i class="fas fa-heart" style="color:#ff0025;"></i> por Jorgito R
			</p>
		</div>

		<div class="div_foot">
			<h3 class="h3_foot">Sobre Mi</h3>
			<div>
				<small>
					Talented Software Development leader experienced in producing and updating systems.
				</small>
				<small>
					Optimized structures and processes to accomplish customer targets and promote company loyalty.
				</small>
				<small>
					Expert in diverse programming languages, including Python, Django, and Javascript.
				</small>
			
			</div>
		</div>

		<div class="div_foot_red">
			<h3 class="h3_foot">Mys Redes</h3>
			<div class="div_a">
				<a class="a_foot" href="https://www.linkedin.com/in/jorge-luis-uribe-rodriguez-2a66b81a4/" target="_blank">Linkedin</a>
			</div>
			<div class="div_a">
				<a class="a_foot" href="https://www.youtube.com/channel/UC-0f0AT2xJrUxML6HJTH3Iw" target="_blank">YouTube</a>
			</div>
			<div class="div_a">
				<a class="a_foot" href="https://github.com/JorgitoR" target="_blank">GitHub</a>
			</div>
		</div>

		<div class="div_foot">
			<h3 class="h3_foot">Mis Trabajos</h3>
				<div class="div_a">
					<a class="a_foot" href="http://compreki.com/" target="_blank">
						Comprendii - Comunidad 	
					</a>
				</div>
				<div class="div_a">
					<a class="a_foot" href="https://camaraaguachica.org.co/" target="_blank">
						Camara Comercio De Aguachica
					</a>
				</div>
				<div class="div_a">
					<a class="a_foot" href="https://tempoacademia.com/" target="_blank">
						Plataforma Lms.
					</a>
				</div>
			
		</div>
	</div>
</footer>

<style>

</style>